/* Contenido principal */
.main {
  grid-area: main;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tarjeta {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  min-width: 350px;
  min-height: 200px;
  width: 25%;
  height: 50%;
  box-shadow: 0.5em 0.5em 0.8em rgba(0, 0, 0, 0.1),
    0.1em 0.1em 0.5em rgba(0, 0, 0, 0.3);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.form p {
  color: #4caf50;
  font-size: 30px;
}
.input {
  display: flex;
  flex-direction: row;
}
.sesion_button {
  background: linear-gradient(#4caf50, #8bc34a);
  color: white;
  margin: 10px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.sesion_button:hover {
  color: black;
  transform: scale(1.1);
}
.container form a {
  text-decoration: none;
  color: #4caf50;
}
/* Fin contenido principal */

/*RESPONSIVE*/

/* Dispositivos muy pequeños (moviles, 600px o menos) */
@media only screen and (max-width: 600px) {
  .container {
    height: 100vh;
  }
  .tarjeta {
    height: fit-content;
  }
}

/* Dispositivos pequeños (tablets y moviles grandes, 600px o más) */
@media only screen and (min-width: 600px) {
  .tarjeta {
    height: fit-content;
  }
}

/* FIN RESPONSIVE */
