/* Contenido principal */
.main {
  grid-area: main;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.table {
  border-radius: 10px;
  overflow: hidden;
  min-width: 300px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.table thead tr {
  background: linear-gradient(#4caf50, #8bc34a);
  color: #ffffff;
  text-align: middle;
}
.table th,
table td {
  padding: 20px 40px;
}
.table tbody tr:nth-of-type(even) {
  background-color: #e2e2e2;
}
.button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  background-color: #8bc34a;
  color: white;
  border: none;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.button:hover {
  color: black;
  transform: scale(1.1);
}
/* Fin contenido principal */

/*RESPONSIVE*/

/* Dispositivos muy pequeños (moviles, 600px o menos) */
@media only screen and (max-width: 600px) {
  .container {
    height: 135vh;
  }
}
/* FIN RESPONSIVE */
