/* Contenido principal */
a {
  text-decoration: none;
  color: black;
}
.main_title {
  font-family: Arial Black;
  font-weight: bold;
  background: #202020;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4),
    0px -1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: auto 10% 1% 10%;
  padding: 5px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 250px;
  border-radius: 10px;
  transition: transform 0.3s;
  background: linear-gradient(#4caf50, #8bc34a);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.product:hover img {
  animation-name: product;
  animation-duration: 0.5s;
}

@keyframes product {
  from {
    transform: rotate(0.02turn);
  }
  to {
    transform: rotate(-0.02turn);
  }
}

.product:hover {
  transform: scale(1.05);
}
.product_image img {
  border-radius: 10px;
  width: auto;
  height: 25vh;
}

.image1:hover img {
  /* content: url("../img/proyecto-6-bw.jpeg"); */
  filter: grayscale(100%);
}

.image2:hover img {
  /* content: url("../img/proyecto-3-bw.jpeg"); */
  filter: grayscale(100%);
}

.image3:hover img {
  /* content: url("../img/proyecto-1-bw.jpeg"); */
  filter: grayscale(100%);
}

.image4:hover img {
  /* content: url("../img/proyecto-5-bw.jpeg"); */
  filter: grayscale(100%);
}

.image5:hover img {
  /* content: url("../img/proyecto-4-bw.jpeg"); */
  filter: grayscale(100%);
}

.image6:hover img {
  /* content: url("../img/proyecto-2-bw.jpeg"); */
  filter: grayscale(100%);
}

.product_description {
  height: 10vh;
}
/* Fin contenido principal */

/*RESPONSIVE*/

/* Dispositivos muy pequeños (moviles, 600px o menos) */
@media only screen and (max-width: 600px) {
  body {
    grid-template:
      "navbar navbar  navbar" 1fr
      "main   main    main" 16fr
      "footer footer  footer" 1fr
      / 1fr 1fr 1fr;
  }
  .main_title {
    align-items: start;
  }
  .products {
    flex-flow: column;
  }
  .product {
    width: 100%;
    height: auto;
  }
  .product_description {
    width: 100%;
    height: auto;
  }
}

/* Dispositivos pequeños (tablets y moviles grandes, 600px o más) */
@media only screen and (min-width: 600px) {
  .products {
    flex-flow: wrap;
  }
  .product {
    width: 90%;
  }
  .product_description {
    width: 100%;
    height: auto;
  }
}

/* Dispositivos medianos (tablets grandes, 768px o mas) */
/*@media only screen and (min-width: 768px) {...}*/

/* Dispositivos grandes (portatiles/escritorio, 992px o mas) */
@media only screen and (min-width: 992px) {
  .product {
    width: 360px;
    height: 400px;
  }
}

/* Dispositivos muy grandes (portatiles/escritorio grandes, 1200px o mas) */
@media only screen and (min-width: 1200px) {
  .product {
    width: 400px;
    height: 350px;
  }
}

/* FIN RESPONSIVE */
