/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: “”;
  clear: both;
  display: table;
}
html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.6rem;
  display: grid;
  grid-template:
    "navbar" 6%
    "main" 88%
    "footer" 6%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FIN RESET */

/* Barra de navegacion */
.navbar {
  grid-area: navbar;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
}

.navbar_logo {
  height: 6vh;
  width: auto;
  border-radius: 5px;
}
.navbar_menu li {
  display: inline-block;
  padding: 0 20px;
}
.navbar_menu li:hover {
  transform: scale(1.1);
}

.navbar_menu a {
  text-decoration: none;
  color: black;
}

.navbar_menu li a:hover {
  color: white;
}
.navbar_search {
  display: flex;
}
.search_input {
  border-radius: 7px;
  width: 150px;
}
.search_button {
  border-radius: 10px;
}
.search_button:hover {
  color: white;
  transform: scale(1.1);
}
.search_button img {
  height: 30px;
  min-width: 30px;
  border-radius: 10px;
}
.navbar_login {
  display: flex;
}
.login_button {
  background-color: chocolate;
  margin: 10px;
  border-radius: 5px;
}
.login_button:hover {
  color: white;
  transform: scale(1.1);
}
.login_image {
  background-color: white;
  margin: 10px;
  height: 25px;
  width: auto;
  border-radius: 10px;
}
/* Fin barra de navegacion */

/* Contenido principal */
.main {
  grid-area: main;
  overflow-y: scroll;
  background-color: goldenrod;
  border: solid 5px black;
}
.main_title {
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: yellow;
  border: solid 5px red;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25vw;
  padding: 10px;
  background-color: blue;
}
.product_image img{
  width: 20vw;
  height: 25vh;
}
/* Fin contenido principal */

/* Pie de pagina */
.footer {
  grid-area: footer;
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: space-between;
}
.footer_rights {
  margin-left: 5vh;
}
.footer_icons {
  margin-right: 5vh;
}
/* Fin pie de pagina */
