/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: “”;
  clear: both;
  display: table;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 1.6rem;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FIN RESET */

/* Barra de navegacion */
.container_navbar {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 5%;
}
.navbar_logo {
  background-color: white;
  margin: 10px;
  height: 70px;
  width: auto;
  border-radius: 5px;
}
.navbar {
  background-color: greenyellow;
}
.navbar_menu {
  background-color: aqua;
  margin: 5px;
}
.navbar_menu li {
  display: inline-block;
  padding: 0 20px;
}
.navbar_menu li:hover {
  transform: scale(1.1);
}

.navbar_menu a {
  text-decoration: none;
}

.navbar_menu li a:hover {
  color: white;
}
.navbar_search {
  background-color: blue;
  display: flex;
}
.search_input {
  background-color: blueviolet;
  border-radius: 7px;
  width: 150px;
}
.search_button {
  border-radius: 10px;
}
.search_button:hover {
  color: white;
  transform: scale(1.1);
}
.search_button img {
  background-color: white;
  height: 30px;
  min-width: 30px;
  border-radius: 10px;
}
.navbar_login {
  background-color: brown;
  display: flex;
}
.login_button {
  background-color: chocolate;
  margin: 10px;
  border-radius: 5px;
}
.login_button:hover {
  color: white;
  transform: scale(1.1);
}
.login_image {
  background-color: white;
  margin: 10px;
  height: 25px;
  width: auto;
  border-radius: 10px;
}
/* Fin barra de navegacion */

/* Contenido principal */
.container_main {
  background-color: goldenrod;
}
/* Fin contenido principal */

/* Pie de pagina */
.container_footer {
  display: flex;
  background-color: darkolivegreen;
}
.footer_rights {
  background-color: deeppink;
}
.footer_icons {
  background-color: indianred;
}
/* Fin pie de pagina */
